<section class="footer">
    <div class="container">
        <div class="row b-content">
            <dl class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <dt>权益</dt>
                <dd>许可协议：<a rel="nofollow" href="">ddd</a></dd>
                <dd>版权所有：© 2014-2019 motkit.com</dd>
                <dd>联系邮箱：<a href="mailto:jinxiu89@163.com">jinxiu89@163.com</a></dd>
                <dd>ICP 备案：<a href="http://www.beian.miit.gov.cn/" target="_blank">粤ICP备17077389号</a></dd>
            </dl>

            <dl class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <dt>架构</dt>
                <dd>项目名称：<a rel="nofollow" href="#" target="_blank">Python web Flask</a></dd>
                <dd>版本分支：master</dd>
                <dd>项目作者：<a href="https://baijunyao.com">邱</a></dd>
                <dd>主题作者：<a href="https://baijunyao.com">qiujin</a></dd>
            </dl>

            <dl class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <dt>统计</dt>
                <dd>文章总数：187</dd>
                <dd>登录用户：3822</dd>
                <dd>随言碎语：41</dd>
            </dl>
        </div>
    </div>
    <a class="go-top fa fa-angle-up animated jello" href="javascript:;"></a>
</section>