@font-face {
  font-family: 'iconfont';  /* project id 1444922 */
  src: url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.eot');
  src: url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.woff') format('woff'),
  url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.svg#iconfont') format('svg');
}

body {
  background: #f5f5f5;

  .iconfont {
    font-size: 18px;
  }
}

.icon-bar {
  background-color: #d9edf7;
}

.navbar {
  background: #286090;

  .active {
    background-color: #1a3b58 !important;
    border-color: #337ab7;
  }

  a {
    color: #d6ecff;
  }

  a:hover {
    background-color: #1a3b58 !important;
    border-color: #337ab7;
  }

  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #1a3b58 !important;
    border-color: #337ab7;
  }

  .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #337ab7 !important;
    border-color: #337ab7;
    color: #d6ecff;
  }
}

.ad {
  padding-top: 70px;

  .col-xs-12, .col-sm-4 {
    padding-left: 10px;
    padding-right: 10px;

    .ad-item {
      margin-bottom: 20px;
      padding: 10px;
      height: 60px;
      background: #fff;
    }
  }
}

.ng-navbar {
  padding-top: 70px;

  .col-xs-12 {
    padding-right: 10px;
    padding-left: 10px;

    .breadcrumb {
      background: #fff;
    }

    .navbar-item {
      margin-bottom: 20px;
      padding: 10px;
      height: 40px;
      background: #fff;
    }
  }
}

.banner {
  padding-top: 60px;
}

.banner,
.main {
  p {
    color: #333333;
  }

  .media-body {
    li {
      color: #387eb9;
      line-height: 26px;
    }

    .iconfont {
      color: #286090;
    }
  }

  .banner-item {
    padding: 10px;
    height: 60px;
    background: #fff;
  }

  .banner-info {
    padding: 30px 15px;
    height: 60px;
    background: #fff;
    min-height: 350px;

    dt {
      float: left;
    }
  }

  .main-item {
    padding: 30px;
    margin-bottom: 20px;
    background: #fff;

    ol {
      padding-left: 15px;
    }

    .main-title {
      border-bottom: 1px solid #286090;
      padding-bottom: 11px;

      span {
        border-bottom: 3px solid #286090;
        padding-bottom: 8px;
      }
    }

    .content {
      padding-top: 10px;
    }

    .article-list {
      padding: 15px;
    }
  }

  .col-xs-12, .col-sm-4 {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
}


.footer {
  background: rgba(0, 0, 0, 0.82);

  .b-content {
    padding: 20px 0;
    color: #fff;
  }
}