@font-face {
  font-family: 'iconfont';
  /* project id 1444922 */
  src: url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.eot');
  src: url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.woff2') format('woff2'), url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.woff') format('woff'), url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.ttf') format('truetype'), url('//at.alicdn.com/t/font_1444922_2hkl5mhq9ul.svg#iconfont') format('svg');
}
body {
  background: #f5f5f5;
}
body .iconfont {
  font-size: 16px;
}
.icon-bar {
  background-color: #d9edf7;
}
.navbar {
  background: #286090;
}
.navbar .active {
  background-color: #1a3b58 !important;
  border-color: #337ab7;
}
.navbar a {
  color: #d6ecff;
}
.navbar a:hover {
  background-color: #1a3b58 !important;
  border-color: #337ab7;
}
.navbar .nav .open > a,
.navbar .nav .open > a:focus,
.navbar .nav .open > a:hover {
  background-color: #1a3b58 !important;
  border-color: #337ab7;
}
.navbar .dropdown-menu > li > a:focus,
.navbar .dropdown-menu > li > a:hover {
  background-color: #337ab7 !important;
  border-color: #337ab7;
  color: #d6ecff;
}
.ad {
  padding-top: 70px;
}
.ad .col-xs-12,
.ad .col-sm-4 {
  padding-left: 10px;
  padding-right: 10px;
}
.ad .col-xs-12 .ad-item,
.ad .col-sm-4 .ad-item {
  margin-bottom: 20px;
  padding: 10px;
  height: 60px;
  background: #fff;
}
.ng-navbar {
  padding-top: 70px;
}
.ng-navbar .col-xs-12 {
  padding-right: 10px;
  padding-left: 10px;
}
.ng-navbar .col-xs-12 .breadcrumb {
  background: #fff;
}
.ng-navbar .col-xs-12 .navbar-item {
  margin-bottom: 20px;
  padding: 10px;
  height: 40px;
  background: #fff;
}
.banner {
  padding-top: 60px;
}
.banner p,
.main p {
  color: #666;
}
.banner .media-body li,
.main .media-body li {
  color: #387eb9;
  line-height: 26px;
}
.banner .media-body .iconfont,
.main .media-body .iconfont {
  color: #286090;
}
.banner .banner-item,
.main .banner-item {
  padding: 10px;
  height: 60px;
  background: #fff;
}
.banner .banner-info,
.main .banner-info {
  background: #fff;
  padding: 0 0 15px 0;
}
.banner .banner-info .dl-horizontal dd,
.main .banner-info .dl-horizontal dd {
  margin-left: 35px;
}
.banner .banner-info .dl-horizontal dt,
.main .banner-info .dl-horizontal dt {
  line-height: 22px;
  float: left;
  width: 33px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.banner .main-item,
.main .main-item {
  padding: 5px 15px;
  margin-bottom: 20px;
  background: #fff;
}
.banner .main-item .media-body h3,
.main .main-item .media-body h3 {
  margin-top: 15px;
}
.banner .main-item .btn,
.main .main-item .btn {
  padding: 0;
}
.banner .main-item h2,
.main .main-item h2 {
  font-size: 18px;
}
.banner .main-item .hot_article,
.main .main-item .hot_article {
  padding: 0 0 15px 0;
}
.banner .main-item .hot_article ul,
.main .main-item .hot_article ul {
  padding-left: 15px;
}
.banner .main-item ul,
.main .main-item ul {
  font-size: 12px;
}
.banner .main-item ul li,
.main .main-item ul li {
  line-height: 25px;
}
.banner .main-item ol,
.main .main-item ol {
  padding-left: 15px;
}
.banner .main-item .main-title,
.main .main-item .main-title {
  border-bottom: 1px solid #286090;
  padding-bottom: 11px;
}
.banner .main-item .main-title span,
.main .main-item .main-title span {
  border-bottom: 3px solid #286090;
  padding-bottom: 8px;
}
.banner .main-item .content,
.main .main-item .content {
  padding-top: 10px;
  line-height: 28px;
}
.banner .main-item .article-list,
.main .main-item .article-list {
  padding: 15px;
}
.banner .col-xs-12,
.main .col-xs-12,
.banner .col-sm-4,
.main .col-sm-4 {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.footer {
  background: rgba(0, 0, 0, 0.82);
}
.footer .b-content {
  padding: 20px 0;
  color: #fff;
}
/*# sourceMappingURL=common.css.map */